body{
    background-color: rgb(166, 166, 233);
}

#Score {
    font-size:medium;
    margin-left: -1200px;
}

#Timer{
    font-size:medium;
  float: right;

}

#Sketch_To_Be_Drawn {
   color:blue ;
}